.header {
    padding: 1rem;
    font-size: 1.25rem;
    padding: 20px;
    background-color:black;

    .row {
        display: flex;
        justify-content: space-between;
        
    }

    &__title {
        font-weight: bold;
    }

    &__link {
        color: white;
        transition: all 0.25s ease-in-out 0s;
        text-decoration: none;

        &--active,
        &:hover {
            text-decoration: none;
            color: rgb(11, 159, 185);
            cursor: pointer;
        }
    }
}
